@using Microsoft.AspNetCore.Http
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var viewUsersdata = ViewData["Users"];
    var viewItemsdata = ViewData["Items"];
    var viewAnnounsdata = ViewData["Announs"];
    var viewOHistorydata = ViewData["OHistory"];
    ViewBag.Title = "AdminPanel";
    var context = Context.Session;
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Admin/AdminPanel.cshtml.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">
    <div class="header">
        @if (TempData["errorcheckon"] != null)
        {
            <div id="cartpopup2" classs="container">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-md-12 ml-auto">
                        <div class="alert alert-danger shadow p-2" role="alert" style="border-radius: 3px">
                            <div class="text-center">
                                <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="m-1 bi bi-shield-fill-x" viewBox="0 0 16 16">
                                    <path
                                    d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zM6.854 5.146 8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 1 1 .708-.708z" />
                                </svg>
                            </div>
                            <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                                class="mr-1">@TempData["errorcheckon"]</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (TempData["erroremailcheck"] != null)
        {
            <div id="cartpopup2" classs="container">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-md-12 ml-auto">
                        <div class="alert alert-danger shadow p-2" role="alert" style="border-radius: 3px">
                            <div class="text-center">
                                <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="m-1 bi bi-shield-fill-x" viewBox="0 0 16 16">
                                    <path
                                    d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zM6.854 5.146 8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 1 1 .708-.708z" />
                                </svg>
                            </div>
                            <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                                class="mr-1">@TempData["erroremailcheck"]</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (TempData["errorchecksuccess"] != null)
        {
            <div id="cartpopup2" classs="container">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-md-12 ml-auto">
                        <div class="alert alert-success shadow p-2" role="alert" style="border-radius: 3px">
                            <div class="text-center">
                                <svg width="3em" height="3em" viewBox="0 0 16 16" class="m-1 bi bi-shield-fill-check"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                    d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                </svg>
                            </div>
                            <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                                class="mr-1">@TempData["errorchecksuccess"]</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (TempData["SuccessAnnoun"] != null)
        {
            <div id="cartpopup2" classs="container">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-md-12 ml-auto">
                        <div class="alert alert-success shadow p-2" role="alert" style="border-radius: 3px">
                            <div class="text-center">
                                <svg width="3em" height="3em" viewBox="0 0 16 16" class="m-1 bi bi-shield-fill-check"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                    d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                </svg>
                            </div>
                            <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                                class="mr-1">@TempData["SuccessAnnoun"]</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (TempData["DuplicateName"] != null)
        {
            <div id="cartpopup2" classs="container">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-md-12 ml-auto">
                        <div class="alert alert-danger shadow p-2" role="alert" style="border-radius: 3px">
                            <div class="text-center">
                                <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="m-1 bi bi-shield-fill-x" viewBox="0 0 16 16">
                                    <path
                                    d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zM6.854 5.146 8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 1 1 .708-.708z" />
                                </svg>
                            </div>
                            <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                                class="mr-1">@TempData["DuplicateName"]</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (TempData["DuplicateAnnoun"] != null)
        {
            <div id="cartpopup2" classs="container">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-md-12 ml-auto">
                        <div class="alert alert-danger shadow p-2" role="alert" style="border-radius: 3px">
                            <div class="text-center">
                                <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="m-1 bi bi-shield-fill-x" viewBox="0 0 16 16">
                                    <path
                                    d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zM6.854 5.146 8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 1 1 .708-.708z" />
                                </svg>
                            </div>
                            <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                                class="mr-1">@TempData["DuplicateAnnoun"]</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!--Content before waves-->
        <div class="inner-header flex">
            <!--Just the logo.. Don't mind this-->
            <h1>Xin chào @context.GetString("Fullname")</h1>
        </div>

        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
        <!--Waves end-->
    </div><br><br>
    <div class="row">
        <div class="col-3">
            <div class="border p-2 nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a class="nav-link active border-bottom" id="v-pills-firsts-tab" data-bs-toggle="pill"
                    href="#v-pills-firsts" role="tab" aria-controls="v-pills-firsts" aria-selected="true">1. Đơn
                    hàng</a>
                <a class="nav-link border-bottom" id="v-pills-orders-tab" data-bs-toggle="pill" href="#v-pills-orders"
                    role="tab" aria-controls="v-pills-orders" aria-selected="false">2. Danh sách mặt hàng</a>
                <a class="nav-link border-bottom" id="v-pills-announsCr-tab" data-bs-toggle="pill"
                    href="#v-pills-announsCr" role="tab" aria-controls="v-pills-announsCr" aria-selected="false">3. Danh
                    sách tài khoản</a>
                <a class="nav-link border-bottom" id="v-pills-announs-tab" data-bs-toggle="pill" href="#v-pills-announs"
                    role="tab" aria-controls="v-pills-announs" aria-selected="false">4. Danh sách thông báo</a>
                <a class="nav-link border-bottom" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"
                    role="tab" aria-controls="v-pills-home" aria-selected="true">5. Tạo tài khoản</a>
                <a class="nav-link border-bottom" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile"
                    role="tab" aria-controls="v-pills-profile" aria-selected="false">6. Tạo mặt hàng</a>
                <a class="nav-link border-bottom" id="v-pills-messages-tab" data-bs-toggle="pill"
                    href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">7. Tạo
                    thông báo</a>
                <button type="button" style="text-align: left;" class="nav-link" data-toggle="modal"
                    data-target="#exampleModal2">8. Thoát</button>
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body" style="text-align: left;">
                                <button type="button" class="close" data-dismiss="modal">
                                    <b>X</b>
                                </button>
                                <h4>Thoát</h4>
                                <h6>Bạn chắc chắn muốn thoát chứ?</h6><br>
                                <div class="Heiy">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    <a href="@Url.Action("Logout","Admin")" class="btn btn-warning">Thoát</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-firsts" role="tabpanel"
                    aria-labelledby="v-pills-firsts-tab">
                    @if (viewOHistorydata is List<OrderHistory>)
                    {
                        List<OrderHistory> orderHistories = (List<OrderHistory>)viewOHistorydata;
                        <table class="table table-bordered table-striped text-center align-middle">
                            <tr>
                                <th>Id</th>
                                <th>Khách hàng</th>
                                <th>Thời gian đơn hàng</th>
                                <th>Trạng thái đơn hàng</th>
                                <th>&nbsp;</th>
                            </tr>
                            @foreach (var orderHistory in orderHistories)
                            {
                                string orderstatus = "";
                                <tr>
                                    <td>@Html.DisplayFor(modelOrderHistory => orderHistory.OrderHistoryID)</td>
                                    <td>@Html.DisplayFor(modelOrderHistory => orderHistory.OrderHistoryUser)</td>
                                    <td>@Html.DisplayFor(modelOrderHistory => orderHistory.OrderHistoryDate)</td>
                                    @if (orderHistory.OrderHistoryStatus == 1)
                                    {
                                        orderstatus = "Đang chờ xử lý";
                                    }
                                    else if (orderHistory.OrderHistoryStatus == 2)
                                    {
                                        orderstatus = "Đã xử lý";
                                    }
                                    <td>@orderstatus</td>
                                    <td><a type="button" class="btn btn-primary"
                                    href="@Url.Action("EditHistory", "Admin", new { id = orderHistory.OrderHistoryID, status = orderHistory.OrderHistoryStatus })">Chi
                                            Tiết</a></td>
                                </tr>
                            }
                        </table>
                    }
                </div>
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <section class="get-in-touch">
                        <navbar>
                            <h1 class="title">Tạo tài khoản</h1>
                        </navbar>
                        <form action="/Admin/EditPost" method="post" class="contact-form row" new {
                            enctype="multipart/form-data" }>
                            <div class="form-field col-lg-12">
                                <label class="text-muted" for="file">Ảnh đại diện</label><br>
                                <input type="file" id="file" name="uploadFile">
                                <span class="text-danger field-validation-valid" data-valmsg-for="uploadFile"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12">
                                <input id="UserName" name="UserName" type="text" class="input-text js-input"
                                    placeholder="Nhập tài khoản" required>
                                <span class="text-danger field-validation-valid" data-valmsg-for="UserName"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <input id="Password" name="Password" type="password" class="input-text js-input"
                                    data-type="password" placeholder="Nhập mật khẩu" required>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Password"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <input id="ConfirmPassword" name="ConfirmPassword" type="password"
                                    class="input-text js-input" data-type="password" placeholder="Nhập lại mật khẩu"
                                    required>
                                <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <input id="Fullname" name="Fullname" type="text" class="input-text js-input"
                                    placeholder="Nhập tên" required>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Fullname"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <input id="Email" name="Email" type="email" class="input-text js-input"
                                    placeholder="Nhập Email" required>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Email"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12">
                                <input class="submit-btn" type="submit" value="Tạo tài khoản">
                            </div>
                        </form>
                    </section>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <section class="get-in-touch">
                        <navbar>
                            <h1 class="title">Tạo mặt hàng</h1>
                        </navbar>
                        <form action="/Admin/CreateItem" method="post" class="contact-form row" new {
                            enctype="multipart/form-data" }>
                            <div class="form-field col-lg-12">
                                <label class="text-muted" for="file">Ảnh đại diện</label><br>
                                <input type="file" id="file" name="uploadFile">
                                <span class="text-danger field-validation-valid" data-valmsg-for="uploadFile"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12">
                                <input class="input-text js-input" type="text" id="ItemName" name="ItemName"
                                    placeholder="Nhập tên sản phẩm" required />
                                <span class="text-danger field-validation-valid" data-valmsg-for="ItemName"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <input class="input-text js-input" type="text" id="UnitPrice" name="UnitPrice"
                                    min="1000" max="" placeholder="Nhập giá" required />
                                <span class="text-danger field-validation-valid" data-valmsg-for="UnitPrice"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <input list="Category" type="text" id="Category12" name="Category"
                                    aria-disabled="true" />
                                <select name="" onchange="myFunction(this.value);">
                                    <option>Chọn Danh Mục</option>
                                    <option data-value="Đồ Ăn Kèm">Đồ Ăn Kèm</option>
                                    <option data-value="Thịt">Thịt</option>
                                    <option data-value="Rau">Rau</option>
                                    <option data-value="Canh">Canh</option>
                                    <option data-value="Nước">Nước</option>
                                </select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Category"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <textarea style="width: 100%; height:300px;" class="input-text js-input" type="text"
                                    id="ItemStory" name="ItemStory" placeholder="Nhập mô tả"></textarea>
                                <span class="text-danger field-validation-valid" data-valmsg-for="ItemStory"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12">
                                <input class="submit-btn" type="submit" value="Tạo mặt hàng">
                            </div>
                        </form>
                    </section>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <section class="get-in-touch">
                        <navbar>
                            <h1 class="title">Tạo thông báo</h1>
                        </navbar>
                        <form action="/Admin/CreateAnnoun" method="post" class="contact-form row">
                            <div class="form-field col-lg-12">
                                <input class="input-text js-input" type="text" id="AnnounName" name="AnnounName"
                                    placeholder="Nhập tên thông báo" required />
                                <span class="text-danger field-validation-valid" data-valmsg-for="AnnounName"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12 ">
                                <textarea style="width: 100%; height:300px;" class="input-text js-input" type="text"
                                    id="AnnounStory" name="AnnounStory" placeholder="Nhập nội dung" required></textarea>
                                <span class="text-danger field-validation-valid" data-valmsg-for="AnnounStory"
                                    data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-field col-lg-12">
                                <input class="submit-btn" type="submit" value="Tạo thông báo">
                            </div>
                        </form>
                    </section>
                </div>
                <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
                    @if (viewItemsdata is List<Item>)
                    {
                        List<Item> items = (List<Item>)viewItemsdata;
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Id</th>
                                <th>Tên mặt hàng</th>
                                <th>Giá</th>
                                <th>Danh mục</th>
                                <th>Mô tả</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                            @foreach (var item in items)
                            {
                                <tr>
                                    @Html.HiddenFor(modelItem => item.ItemDescription)
                                    <td>@Html.DisplayFor(modelItem => item.ItemId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                                    <td>@String.Format(format, "{0:0,0 vnđ}", @item.UnitPrice )</td>
                                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                                    <td>
                                        <details>
                                            <summary>Xem chi tiết</summary>
                                            @Html.DisplayFor(modelItem => item.ItemStory)
                                        </details>
                                    </td>
                                    <td class="text-center"><a type="button" class="btn btn-primary"
                                    href="@Url.Action("EditItem", "Admin", new { id = item.ItemId })">Cập nhật</a></td>
                                    <td class="text-center"><a type="button" class="btn btn-danger"
                                    href="@Url.Action("DeleteItem", "Admin", new { id = item.ItemId })">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
                <div class="tab-pane fade" id="v-pills-announs" role="tabpanel" aria-labelledby="v-pills-announs-tab">
                    @if (viewAnnounsdata is List<Announ>)
                    {
                        List<Announ> announs = (List<Announ>)viewAnnounsdata;
                        <table class="table table-bordered table-striped text-center">
                            <tr>
                                <th>Id</th>
                                <th>Tên thông báo</th>
                                <th>Nội dung</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                            @foreach (var announ in announs)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelAnnoun => announ.AnnounId)</td>
                                    <td>@Html.DisplayFor(modelAnnoun => announ.AnnounName)</td>
                                    <td>
                                        <details>
                                            <summary>Xem thêm</summary>
                                            @Html.DisplayFor(modelAnnoun => announ.AnnounStory)
                                        </details>
                                    </td>
                                    <td><a href="@Url.Action("EditAnnoun", "Admin", new { id = announ.AnnounId })">Cập nhật</a>
                                    </td>
                                    <td><a href="@Url.Action("DeleteAnnoun", "Admin", new { id = announ.AnnounId })">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
                <div class="tab-pane fade" id="v-pills-announsCr" role="tabpanel"
                    aria-labelledby="v-pills-announsCr-tab">
                    @if (viewUsersdata is List<User>)
                    {
                        List<User> users = (List<User>)viewUsersdata;
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped text-center align-middle">
                                <tr>
                                    <th>Id</th>
                                    <th>Tài khoản</th>
                                    <th>Tên</th>
                                    <th>Email</th>
                                    <th>Vai trò</th>
                                    <th>Thời gian gia nhập</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                                @foreach (var user in users)
                                {
                                    string admin = "";
                                    <tr>
                                        @Html.HiddenFor(modelUser => user.Image)
                                        <td>@Html.DisplayFor(modelUser => user.UserId)</td>
                                        <td>@Html.DisplayFor(modelUser => user.UserName)</td>
                                        <td>@Html.DisplayFor(modelUser => user.Fullname)</td>
                                        <td>@Html.DisplayFor(modelUser => user.Email)</td>
                                        @if (user.Role == 1)
                                        {
                                            admin = "Quản trị viên";
                                        }
                                        else if (user.Role == 2)
                                        {
                                            admin = "Người dùng";
                                        }
                                        <td>@admin</td>
                                        <td>@Html.DisplayFor(modelUser => user.UserDate)</td>
                                        @if (user.Role != 2)
                                        {
                                            <td><a class="btn btn-primary" href="@Url.Action("EditUser", "Admin", new { id = user.UserId })">Cập nhật</a>
                                            </td>
                                            <td><a class="btn btn-danger" href="@Url.Action("DeleteUser", "Admin", new { id = user.UserId })">Xóa</a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    ...</div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>