@model User
@{
    var viewUsersdata = ViewData["Users"];
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Admin/EditUser.cshtml.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">
    @if (TempData["EditSuccess"] != null)
    {
        <div id="cartpopup2" classs="container">
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-12 ml-auto">
                    <div class="alert alert-success shadow p-2" role="alert" style="border-radius: 3px">
                        <div class="text-center">
                            <svg width="3em" height="3em" viewBox="0 0 16 16" class="m-1 bi bi-shield-fill-check"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                            </svg>
                        </div>
                        <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                            class="mr-1">@TempData["EditSuccess"]</b></p>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (TempData["InUsername"] != null)
    {
        <div id="cartpopup2" classs="container">
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-12 ml-auto">
                    <div class="alert alert-danger shadow p-2" role="alert" style="border-radius: 3px">
                        <div class="text-center">
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="m-1 bi bi-shield-fill-x" viewBox="0 0 16 16">
                                <path
                                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zM6.854 5.146 8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 1 1 .708-.708z" />
                            </svg>
                        </div>
                        <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                            class="mr-1">@TempData["InUsername"]</b></p>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (TempData["InEmail"] != null)
    {
        <div id="cartpopup2" classs="container">
            <div class="row no-gutters">
                <div class="col-lg-2 col-md-12 ml-auto">
                    <div class="alert alert-danger shadow p-2" role="alert" style="border-radius: 3px">
                        <div class="text-center">
                            <svg width="3em" height="3em" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="m-1 bi bi-shield-fill-x" viewBox="0 0 16 16">
                                <path
                                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zM6.854 5.146 8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 1 1 .708-.708z" />
                            </svg>
                        </div>
                        <p style="font-size:15px" class="mb-0 font-weight-light text-center"><b
                            class="mr-1">@TempData["InEmail"]</b></p>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Id tài khoản : <b>@Html.DisplayFor(Model => Model.UserId)</b></div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="@Url.Content(@Model.Image)" alt=""
                            width="30%">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">@Html.DisplayFor(Model => Model.UserName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">
                        Chỉnh sửa tài khoản
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new
                        {
                            enctype = "multipart/form-data"
                        }))
                        {
                            <form>
                                <!-- Form Group (first name)-->
                            <div class="mb-3">
                                    <label class="small mb-1" for="uploadFile">Ảnh đại diện</label>
                                    <input type="file" id="uploadFile" name="uploadFile">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="uploadFile"
                                    data-valmsg-replace="true"></span>
                                </div>
                                <!-- Form Group (username)-->
                            <div class="mb-3">
                                    <label class="small mb-1" for="UserName">Tài khoản</label>
                                    @Html.TextBoxFor(Model => Model.UserName, new { @class = "form-control", @id =
                                "UserName"})
                                </div>
                                <!-- Form Row-->
                            <div class="mb-3">
                                    <!-- Form Group (first name)-->
                                <label class="small mb-1" for="Password">Mật khẩu</label>
                                    @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", @id =
                                "Password"})
                                </div>
                                <!-- Form Row        -->
                            <div class="mb-3">
                                    <label class="small mb-1" for="Fullname">Tên</label>
                                    @Html.TextBoxFor(Model => Model.Fullname, new { @class = "form-control", @id =
                                "Fullname"})
                                </div>
                                <!-- Form Group (email address)-->
                            <div class="mb-3">
                                    <label class="small mb-1" for="Email">Email</label>
                                    @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @id =
                                "Email", @type = "email"})
                                </div>
                            <div class="mb-3">
                                    <label class="small mb-1" for="Address">Địa chỉ</label>
                                    @Html.TextBoxFor(Model => Model.Address, new { @class = "form-control", @id =
                                "Address"})
                                </div>
                            <div class="mb-3">
                                    <label class="small mb-1" for="Phone">Số điện thoại</label>
                                    @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control", @id =
                                "Phone"})
                                </div>
                                <!-- Save changes button-->
                                    <input type="submit" class="btn btn-primary" value="Lưu" />
                                    <a class="btn btn-secondary" asp-area="" asp-action="AdminPanel"
                                    asp-controller="Admin">Hủy</a>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>