@model User
@{
    var viewUsersdata = ViewData["Users"];
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        .ThisA{
            text-decoration: none;
            color: black;
            padding: 4.5px 6px;
            background-color: #efefef;
            border: 1px solid gray;
            border-radius: 0.2rem;
        }
        .ThisA:hover{
            color: black;
            background-color: #e4e4e4;
        }
    </style>
</head>

<body class="bg-light">
    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Id người dùng</td>
                <td>@Html.DisplayFor(model => model.UserId)</td>
            </tr>
            <tr>
                <td>Tài khoản</td>
                <td>@Html.TextBoxFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.TextBoxFor(model => model.Password)</td>
            </tr>
            <tr>
                <td>Tên</td>
                <td>@Html.TextBoxFor(model => model.Fullname)</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Html.TextBoxFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>@Html.TextBoxFor(model => model.Role)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Lưu" />
                    <a class="ThisA" asp-area="" asp-action="AdminPanel" asp-controller="Admin">Hủy</a>
                </td>
            </tr>
        </table>
    }
</body>