@model OrderHistory
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var context = Context.Session;
    var viewitnow = ViewData["openitrightnow"];
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Shared/Cart.cshtml.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <!-- Save changes button-->
    @if (viewitnow is List<OrderHistory>)
    {
        List<OrderHistory> orders = (List<OrderHistory>)viewitnow;
        if (!orders.Any())
        {
            <h1>
                <span>Hiện</span>
                <span>chưa</span>
                <span>có</span>
                <span>đơn</span>
                <span>hàng</span>
                <span>nào</span>
                <span>hết!</span><br>
                <span>Về</span>
                <span>trang</span>
                <span>chủ</span>
                <span>order</span>
                <span>chủ</span>
                <span>nhé.</span>
            </h1>
            <div class="coverThis">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <p class="BackToHome">Trang Chủ</p>
                </a>
            </div>
        }
        else
        {
            <h1 align="center">Đơn hàng</h1>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Id</th>
                    <th>Khách hàng</th>
                    <th>Thời gian đơn hàng</th>
                    <th>Trạng thái</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                @foreach (var next in orders)
                {
                    if (next.OrderHistoryUser == context.GetString("Fullname"))
                    {
                        string orderstatus = "";
                        <tr>
                            <td>@Html.DisplayFor(modelOrderHistory => next.OrderHistoryID)</td>
                            <td>@Html.DisplayFor(modelOrderHistory => next.OrderHistoryUser, new{name = "agree"})</td>
                            <span class="text-danger field-validation-valid" data-valmsg-for="agree" data-valmsg-replace="true"></span>
                            <td>@Html.DisplayFor(modelOrderHistory => next.OrderHistoryDate)</td>
                            @if (next.OrderHistoryStatus == 1)
                            {
                                orderstatus = "Chờ xác nhận";
                            }
                            else if (next.OrderHistoryStatus == 2)
                            {
                                orderstatus = "Đã xử lý";
                            }
                            else if (next.OrderHistoryStatus == 3)
                            {
                                orderstatus = "Đã bị hủy";
                            }
                            <td>@orderstatus</td>
                            @if (next.OrderHistoryStatus == 1)
                            {
                                <td class="text-center"><a type="button" class="btn btn-primary"
                    href="@Url.Action("UserEditCartPanel", "Admin", new { id = next.OrderHistoryID, status = next.OrderHistoryStatus })">Chi
                                        Tiết</a></td>
                                <td align="center"><a type="button" class="btn btn-danger"
                    href="@Url.Action("CancelOrder", "Admin", new { id = next.OrderHistoryID})">Hủy đơn</a></td>
                            }
                            else
                            {
                                <td class="text-center"><a type="button" class="btn btn-primary"
                    href="@Url.Action("UserEditCartPanel", "Admin", new { id = next.OrderHistoryID, status = next.OrderHistoryStatus })">Chi
                                        Tiết</a></td>
                            }
                        </tr>
                    }
                }
            </table>
        }
    }
</body>