@model Feedback
@{
    ViewData["Title"] = "Product Page";
    var viewItemData = ViewData["Items"];
    var viewFeedbackData = ViewData["Feedbacks"];
    var Nuoc = "Nước";
    var Canh = "Canh";
    var DoAnKem = "Đồ Ăn Kèm";
    var Thit = "Thịt";
    var Rau = "Rau";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Admin/ProductDetail.cshtml.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">
    @if (viewItemData == null)
    {
        <h3>@TempData["msg"]</h3>
    }
    else if (viewItemData is Item)
    {
        var item = (Item)viewItemData;
        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <div class="pd-wrap">

            <div class="heading-section">
                <a class="text-muted" style="text-decoration: none;" asp-area="" asp-controller="Home"
                asp-action="Index">Trang chủ</a> /
                <a class="text-muted" style="text-decoration: none;" href="#">@item.ItemName</a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="thumb" class="product-thumb">
                        <div class="item">
                            <img src="@Url.Content(@item.ItemDescription)" width="100%" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-dtl">
                        <div class="product-info">
                            <div class="product-name">@item.ItemName</div>
                            @if (item.Category == DoAnKem)
                            {
                                <a asp-area="" asp-controller="Product" asp-action="DoAnKem" class="text-muted pt-2"
                            style="text-decoration: none;">@Html.DisplayFor(modelItem =>
                            item.Category)</a>
                            }
                            @if (item.Category == Thit)
                            {
                                <a asp-area="" asp-controller="Product" asp-action="Thit" class="text-muted pt-2"
                            style="text-decoration: none;">@Html.DisplayFor(modelItem =>
                            item.Category)</a>
                            }
                            @if (item.Category == Rau)
                            {
                                <a asp-area="" asp-controller="Product" asp-action="Rau" class="text-muted pt-2"
                            style="text-decoration: none;">@Html.DisplayFor(modelItem =>
                            item.Category)</a>
                            }
                            @if (item.Category == Canh)
                            {
                                <a asp-area="" asp-controller="Product" asp-action="Canh" class="text-muted pt-2"
                            style="text-decoration: none;">@Html.DisplayFor(modelItem =>
                            item.Category)</a>
                            }
                            @if (item.Category == Nuoc)
                            {
                                <a asp-area="" asp-controller="Product" asp-action="Nuoc" class="text-muted pt-2"
                            style="text-decoration: none;">@Html.DisplayFor(modelItem =>
                            item.Category)</a>
                            }
                            <div class="reviews-counter pt-2">
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" checked />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" checked />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" checked />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                                <span>​</span>
                            </div>
                            <div class="text-muted pt-2">@item.UnitPrice<span>0 ₫</span>
                            </div>
                        </div>
                        <p class="pt-2">@item.ItemStory</p>
                        <div class="row pt-1">
                            <div class="col-md-6">
                                <label for="size">Size</label>
                                <select id="size" name="size" class="form-control">
                                    <option>Lớn</option>
                                    <option>Vừa</option>
                                    <option>Bé</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="color">Ship</label>
                                <select id="color" name="color" class="form-control">
                                    <option>Lấy Tại Quán</option>
                                    <option>Shipper</option>
                                </select>
                            </div>
                        </div>
                        <div class="product-count">
                            <label for="size">Số lượng</label>
                            <form>
                                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-
                                </div>
                                <input type="number" id="number" value="0" />
                                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+
                                </div>
                            </form>
                            <a href="#" class="round-black-btn">Thêm Giỏ Hàng</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="product-info-tabs">
                @if (viewFeedbackData is List<Feedback>)
                {
                List<Feedback> feedbacks = (List<Feedback>)viewFeedbackData;
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                        aria-controls="description" aria-selected="true">Mô Tả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                        aria-controls="review" aria-selected="false">Đánh giá </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                    aria-labelledby="description-tab">
                        Có công ăn uống - có ngày lên cân !
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="review-heading">Đánh Giá</div>
                        <div class="reviewCover">
                            <div class="col-sm-5 col-md-6 col-12 pb-4">
                                <div class="container">
                                    <div class="row">
                                            @foreach (var feedback in feedbacks)
                                            {
                                                <div class="col-20">
                                                    <div class="card-white post">
                                                        <div class="post-heading">
                                                            <div class="float-left image">
                                                            @if(feedback.FeedbackLink == null){
                                                                <img src="~/image/DefaultFeedback.jpg" style="margin-right: 15px;width:60px;height:60px;" class="img-circle avatar" alt="user profile image">
                                                            }else{
                                                                <img src="@Url.Content(@feedback.FeedbackLink)"
                                                        class="img-circle avatar" alt="user profile image">
                                                        }
                                                            </div>
                                                            <div class="float-left meta">
                                                                <div class="title h5">
                                                                    <a href="#"><b>@Html.DisplayFor(modelFeedback =>
                                                                feedback.FeedbackName)</b></a>
                                                                </div>
                                                                <div class="rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <h6 class="text-muted time">@Html.DisplayFor(modelFeedback =>
                                                        feedback.FeedbackDate)</h6>
                                                            </div>
                                                        </div>
                                                        <div class="text-dark post-description">
                                                            <p>@Html.DisplayFor(modelFeedback =>
                                                    feedback.FeedbackStory)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 formCover">
                                <form action="/Product/Create" method="post" class="review-form">
                                    <div class="form-group">
                                        <label class="text-dark"><b>Đánh giá của bạn</b></label>
                                        <div class="reviews-counter">
                                            <div class="rate">
                                                <input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="text">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="text">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="text">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="text">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="text">1 star</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-dark" for="Walkin"><b>Nhận xét của bạn</b></label>
                                        <textarea type="text" id="FeedbackStory" name="FeedbackStory" id="Walkin"
                                        class="form-control" rows="10" placeholder="Nhập gì đó..." required
                                        asp-for="FeedbackStory"></textarea>
                                        <span class="text-danger field-validation-valid" data-valmsg-for="FeedbackStory"
                                        data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-dark" for="nameReview"><b>Họ và tên</b></label>
                                                <input type="text" id="FeedbackName" name="FeedbackName"
                                                class="form-control" placeholder="Nhập tên" required
                                                asp-for="FeedbackName">
                                                <span class="text-danger field-validation-valid"
                                                data-valmsg-for="FeedbackName" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-dark" for="emailReview"><b>Email</b></label>
                                                <input type="text" id="emailReview" name="" class="form-control"
                                                placeholder="Nhập địa chỉ email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" value="Create Product" class="round-black-btn">Gửi đánh
                                        giá</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    }
            </div>
        </div><br><br>
        <h2 align="center"><b>Sản phẩm tương tự</b></h2>
        <div class="containerCard">
            <div class="row">
                @if (viewItemData is List<Item>)
                {
                    List<Item> items = (List<Item>)viewItemData;
                    @foreach (var itemd in items)
                    {
                        <div
                class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
                            <div class="product"><a href="#"><img
                            src="https://images.pexels.com/photos/54203/pexels-photo-54203.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt=""></a>
                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                                    <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                                    <li class="icon mx-3"><span class="far fa-heart"></span></li>
                                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                                </ul>
                            </div>
                            <a style="text-decoration: none;" class="title pt-4 pb-1 text-dark" href="#">@Html.DisplayFor(modelItem
                    => itemd.ItemName)</a>
                            <div class="d-flex align-content-center justify-content-center"> <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                        class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                            </div>
                            <div class="price">$ 60.0</div>
                        </div>
                    }
                }
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity=" sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    }
</body>